@media (min-width: 200px) and (max-width: 990px) {
    .btn-cart {
        /* color: black; */
        /* background-color: rgb(186, 186, 186); */
        border-radius: 100%;
        cursor: pointer;
    }
    .banner-img {
        display: none;
    }

    .signup-btn {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    :root {
        --red: #d4292f;
        --FontPrimary: "Roboto Slab", serif;
    }

    nav {
        font-family: var(--FontPrimary);
    }

    .navbar-nav li a {
        color: #4e4e4e;
        opacity: 70%;
    }

    .brand {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 20px;
        color: black;
    }

    .src-form {
        position: relative;
        margin: auto;
    }

    .src-btn {
        all: unset;
        position: absolute;
        bottom: 6px;
        left: 220px;
    }

    .src-btn:focus {
        outline: none;
    }

    #cartAndSearch {
        width: 200px;
        justify-content: center !important;
    }

    #act {
        color: red;
        border-bottom: 2px solid;
    }

    .navbar-nav li a {
        text-decoration: none;
    }

    .navbar-nav li a:hover {
        color: #000000;
        opacity: 100%;
    }

    .src-form {
        display: none;
    }

    .fas {
        color: #4e4e4e;
    }

    .count-cart {
        right: 8px;
        top: 1px;
        padding: 0.5px 5px;
        background: red;
        opacity: 90%;
        color: white;
        border-radius: 100%;
        font-size: 10px;
    }

    .signup-btn {
        border: 1px solid red;
        color: var(--red) !important;
        text-decoration: none !important;
        padding: 5px 15px;
        border-radius: 50px;
        opacity: 70%;
        width: 290px;
        margin-top: 20px;
    }

    .navbar-nav li {
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (min-width: 990px) {
    /* ...; */
    .navbar-menu {
        margin-left: 50px !important;
    }
    .navbar-nav li {
        /* margin-bottom: 20px; */
        text-align: center;
    }

    :root {
        --red: #d4292f;
        --FontPrimary: "Roboto Slab", serif;
    }

    nav {
        font-family: var(--FontPrimary);
    }
    .navbar-menu {
        margin-left: 100px;
    }

    .navbar-nav li a {
        color: #4e4e4e;
        opacity: 70%;
        margin: 0 0 0 0;
        margin-left: 45px;
    }

    .brand {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 20px;
        color: black;
    }

    .src-form {
        position: relative;
    }

    .src-btn {
        all: unset;
        position: absolute;
        bottom: 6px;
        left: 220px;
    }

    .src-btn:focus {
        outline: none;
    }

    #act {
        color: red;
        border-bottom: 2px solid;
    }

    .navbar-nav li a {
        text-decoration: none;
    }

    .navbar-nav li a:hover {
        color: #000000;
        opacity: 100%;
    }

    #src-form {
        border-radius: 50px;
        width: 250px;
        background-color: hsla(358, 68%, 50%, 0.057);
    }

    .fas {
        color: #4e4e4e;
    }

    .count-cart {
        right: 8px;
        top: 1px;
        padding: 0.5px 5px;
        background: red;
        opacity: 90%;
        color: white;
        border-radius: 100%;
        font-size: 10px;
    }

    .signup-btn {
        border: 1px solid red;
        color: var(--red) !important;
        text-decoration: none !important;
        padding: 5px 15px;
        border-radius: 50px;
        opacity: 70%;
    }

    .navbar-nav li {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    /* ...; */

    .navbar-nav li a {
        margin-left: 20px !important;
    }

    :root {
        --red: #d4292f;
        --FontPrimary: "Roboto Slab", serif;
    }

    nav {
        font-family: var(--FontPrimary);
    }
    .navbar-menu {
        margin-left: 100px;
    }

    .navbar-nav li a {
        color: #4e4e4e;
        opacity: 70%;
        margin: 0 0 0 0;
        margin-left: 45px;
    }

    .brand {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 20px;
        color: black;
    }

    .src-form {
        position: relative;
    }

    .src-btn {
        all: unset;
        position: absolute;
        bottom: 6px;
        left: 220px;
    }

    .src-btn:focus {
        outline: none;
    }

    #act {
        color: red;
        border-bottom: 2px solid;
    }

    .navbar-nav li a {
        text-decoration: none;
    }

    .navbar-nav li a:hover {
        color: #000000;
        opacity: 100%;
    }

    #src-form {
        border-radius: 50px;
        width: 250px;
        background-color: hsla(358, 68%, 50%, 0.057);
    }

    .fas {
        color: #4e4e4e;
    }

    .count-cart {
        right: 8px;
        top: 1px;
        padding: 0.5px 5px;
        background: red;
        opacity: 90%;
        color: white;
        border-radius: 100%;
        font-size: 10px;
    }

    .signup-btn {
        border: 1px solid red;
        color: var(--red) !important;
        text-decoration: none !important;
        padding: 5px 15px;
        border-radius: 50px;
        opacity: 70%;
    }
}
@media (min-width: 1200px) {
    .navbar-nav li a {
        margin-left: 45px !important;
    }

    :root {
        --red: #d4292f;
        --FontPrimary: "Roboto Slab", serif;
    }

    nav {
        font-family: var(--FontPrimary);
    }
    .navbar-menu {
        margin-left: 100px;
    }

    .navbar-nav li a {
        color: #4e4e4e;
        opacity: 70%;
        margin: 0 0 0 0;
        margin-left: 45px;
    }

    .brand {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 20px;
        color: black;
    }

    .src-form {
        position: relative;
    }

    .src-btn {
        all: unset;
        position: absolute;
        bottom: 6px;
        left: 220px;
    }

    .src-btn:focus {
        outline: none;
    }

    #act {
        color: red;
        border-bottom: 2px solid;
    }

    .navbar-nav li a {
        text-decoration: none;
    }

    .navbar-nav li a:hover {
        color: #000000;
        opacity: 100%;
    }

    #src-form {
        border-radius: 50px;
        width: 250px;
        background-color: hsla(358, 68%, 50%, 0.057);
    }

    .fas {
        color: #4e4e4e;
    }

    .count-cart {
        right: 8px;
        top: 1px;
        padding: 0.5px 5px;
        background: red;
        opacity: 90%;
        color: white;
        border-radius: 100%;
        font-size: 10px;
    }

    .signup-btn {
        border: 1px solid red;
        color: var(--red) !important;
        text-decoration: none !important;
        padding: 5px 15px;
        border-radius: 50px;
        opacity: 70%;
    }

    .btn-cart {
        /* color: black; */
        /* background-color: rgb(186, 186, 186); */
        border-radius: 100%;
        cursor: pointer;
    }
}
